
.navbarr {
    background-color: #5d5a48;
    z-index: +5;
}
.higuys {
  position: relative;
  animation-name: animation1;
  animation-duration: 4;
}
.myname {
  position: relative;
  animation-name: animation2;
  animation-duration: 3s;
}
.name {
  position: relative;
  animation-name: animation3;
  animation-duration: 10s;
}
@keyframes animation1 {
  0%   {background-color:transparent; left:-500px; top:0px;}
  100%  {left:00px; top:0px;}
} 
@keyframes animation2 {
  0%   {background-color:transparent; left:-500px; top:0px;}
  100%  { left:00px; top:0px;}
}
@keyframes animation3 {

  0%    {background-color:transparent; left:-200px; top:0px;}
  25%   {background-color:transparent; left:-500px; top:0px;}
  50%   {background-color:transparent; left: 300px; top:0px;}
  100%  { background-color:transparent; left:00px; top:0px;}
}

.one {
  position: absolute;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  font-size: 60px;
  color: #1be9d8;
  top: 390px;
  bottom: 150px;
  text-align: justify;
}

.two {
  position: absolute;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
  color: #1be9d8;
  left: 150px;
  top: 390px;
}

.three {
  position: absolute;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
  color: #1be9d8;
  left: 150px;
  top: 430px;
}




pw {
  background-color: #525d48;
  color: rgb(0, 0, 10);
  left: 100px;
  top: 150px;
}


